name: "CLA Check"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,closed,synchronize]

jobs:
  CLAAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Check"
        if: (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request_target'
        uses: contributor-assistant/github-action@v2.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          path-to-signatures: 'sqs-consumer/v1/cla.json'
          remote-organization-name: 'bbc'
          remote-repository-name: 'cla-signatures'
          path-to-document: 'https://bbc.github.io/cla-signatures/cla/v1/cla.html'
          branch: 'main'
          allowlist: bot*
          custom-allsigned-prcomment: '**CLA CHECK** All Contributors have signed the CLA'
