name: Run Tests
on:
  pull_request:
    branches:
      - canary
      - "*.x"
      - 'main'
  push:
    branches:
      - canary
      - "*.x"
      - main
permissions:
  contents: read

jobs:
  test-node:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      checks: write
    strategy:
      matrix:
        node-version: [20.x, 22.16.0]

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: NPM Audit
        run: npx audit-ci

      - name: Install Node Modules
        run: npm ci

      - name: Run Tests and Linting
        run: npm run test

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: test-reports-${{ matrix.node-version }}
          path: test/reports/

  test-bun:
    runs-on: ubuntu-latest
    permissions:
      actions: read

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      
      - name: Setup Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2

      - name: Install Bun Packages
        run: bun install --no-save
      
      - name: Run Bun Tests
        run: bun run test
