name: Run Tests
on:
  pull_request:
    branches:
      - canary
      - "*.x"
      - 'main'
  push:
    branches:
      - canary
      - "*.x"
      - main
permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  test-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.16.0]

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: NPM Audit
        run: npx audit-ci

      - name: Install Node Modules
        run: npm ci

      - name: Run Tests and Linting
        run: npm run test

      - uses: actions/upload-artifact@v4
        with:
          name: test-reports-${{ matrix.node-version }}
          path: test/reports/

  test-bun:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install Bun Packages
        run: bun install --no-save
      
      - name: Run Bun Tests
        run: bun run test
